<div class="indexWrapper">
    <div class="indexContent text-center ">
        <div class="iconWrapper">
            <img src="./images/round_icon.png">
        </div>
        <p class="caption">
            CHOOSE CONVENIENCE <br>
            LIVE WELL
        </p>
        <div class="btnContainer">
            <button ui-sref="login" class="btn btn-errand-login">LOGIN</button> 
            <br>
            <br>
            <a href="#" class="btn-errand-signup">SIGN UP</a>
        </div>
    </div>
</div>