
<div class="indexContent text-center">
    <div class="caption">
        <p>EXPRESS DELIVERY</p>
    </div>
    <div class="deliveryWrapper">
        <button ui-sref="member.delivery" class="btn btn-member">Comming soon</button>
        <p class="d_caption">
            With Errands Express Delivery, we will do the delivery, takeout, drive-thru of your favorite brands for you. Our Clients include best-of-class restaurants, fast food chains, cafes as well as independent sellers.
        </p>
        <div class="col-xs-4">
            <div class="delivery_icon">
                <img src="./images/foods.png">
                
            </div>
        </div>
        <div class="col-xs-4">
            <div class="delivery_icon">
                <img src="./images/coffee.png">
                
            </div>
        </div>
        <div class="col-xs-4">
            <div class="delivery_icon">
                <img src="./images/cake.png">
                
            </div>
        </div>
        
    </div>
    
</div>
