@font-face {
    font-family: hero-light;
    src: url(hero-light.otf);
}
@font-face {
    font-family: hero-bold;
    src: url(hero-bold.otf);
}
body,html {
	font-family: hero-bold;
  	padding: 0;
 	height: 100%;
  	width :100%;
}
a,a:active,a:hover{
	outline: none;
	text-decoration: none;
	color: #fff;
}
.indexWrapper{
	background: url(../images/bg.jpg)no-repeat center center fixed;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  	height: 100%;
  	position: absolute;
  	width: 100%;
}
.indexWrapperLogin{
	/* shorthand img bg*/
	background:#6CC24A  url(../images/roof.png)no-repeat top center fixed;
	height: 100%;
  	position: absolute;
  	width: 100%;
}
	.loginLogo img{
		width: 160px;
	}	
	.btn-login{
		font-size: 18px;
		width: 100%;
		color: #6CC24A;
	}

	/* member*/
	.btn-member{
		background:#fff;
		font-size: 18px;
		width: 100%;
		color: #6CC24A;
		margin-bottom: 6px;
	}
	.btn-green{
		background: #6CC24A;
		color: #fff;
		letter-spacing: 1px;
	}
	.btn-member-soon{
		background:#fff url(../images/coming.png)no-repeat right center;
		background-size: contain;
		font-size: 18px;
		width: 100%;
		color: #6CC24A;
		margin-bottom: 6px;
		border:none;
		outline: none;
	}
	.btn-member-soon:hover,.btn-member-soon:active,.btn-member-soon:focus{
		background:#fff url(../images/coming.png)no-repeat right center;
		background-size: contain;
		border:none;
		outline: none;
	}

/* Bootstrap overides*/
.panel , .btn , .panel-heading, .panel-footer, .panel-body, .form-control, .input-group-addon{
  border-radius: 0;
}
.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.list-group-item{
	background:none;
	color: #fff
}
.indexContent{
	width: 90%;
	position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.MemberWrapper{
	width: 100%;
	position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
	.deliveryWrapper{
		width: 80%;
		margin:50px auto 0;
	}
	.delivery_icon img{
		text-align: center;
		margin-top: 30px;
		width: 60px;
		border-radius: 50px;
		border: 2px solid #fefefe;
		padding: 5px;
	}
	.g_greetings{
		font-size: 20px;
		color: #fff;	
	}
	.cart-list{
		margin:0;
	}
/* errand modal version css properties */

.modaloffset {
    position: absolute;
    height: 2000px;
    width: 100%;
    background: rgba(0,0,0,0.8);
     -webkit-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
     max-height: 100% !important;

}

.m_o_d_a_l{
	position: relative;
	height: 200px;
	width: 90%;
	margin:auto;
	background:#fff;
	display: block;
	z-index: 100;
	-webkit-transform: translate(-0%, -100%);
    transform: translate(-0%, 150%);
}
.cart_modal_container{
	padding: 5px 20px 20px 20px;
	width: 95%;
	margin:auto;
}
.closeme{
	background:url(../images/cancel.png)no-repeat;
	background-size: contain;
	margin:10px 10px 0 0;
	width: 30px;
	height: 30px;
}