/* css rules for portrait orientation*/
@media screen and (orientation:portrait) {
   /* Portrait styles here */
   .iconWrapper img{
		width: 120px;
		height: 120px;
		margin:0 0 3% 0;
	}

	.indexContent .caption{
		color: #fff;
		font-size: 18px;
		letter-spacing: 3px;
	}
	.btn-errand-login{
		margin:20% 0 0 0;
		font-size: 18px;
		width: 60%;
		color: #6CC24A;
		letter-spacing: 3px;
	}
	.btn-errand-signup{
		font-size: 18px;
		letter-spacing: 2px;
		color: #fff;
	}
	/* login form*/
	.loginform{
		margin:10% auto 0;
		width: 80%;
	}
	.memberOption{
		margin:10% auto 0;
		width: 80%;
	}
	.d_caption{
		font-size: 16px;
		color: #fff;
		margin:10px 0 0 0;
	}
}